# Enter the composer executor (e.q. "docker compose exec php composer" or just "composer")
COMPOSER_EXECUTOR=""

# What is you github username?
GITHUB_USERNAME=""

# Enter you github api token (access to: repo, delete_repo (if you want to re-create forks))
GITHUB_API_TOKEN=""

# Allowlist of bundles you want to fork
#BUNDLE_ALLOWLIST="(data-hub|data-importer)"

# List of bundles you don't want to fork
BUNDLE_BLOCKLIST="(docker|skeleton|demo|github|example|payment|elasticsearch|search-query-parser|personalized-product-search|number-sequence-generator|test-|s3-pit)"
